CompileFlags:
  Compiler: clang++
  Add:
    - -L/usr/local/cuda/lib64 # Or path to CUDA lib directory
    - -I/usr/local/cuda/include # Or path to CUDA include directory
    - -isystem/usr/include/eigen3
    - -I/usr/local/cuda/targets/x86_64-linux/include
    - -xcuda
    - --cuda-path=/usr/local/cuda-clang
    - -include=Eigen/Dense
  Remove:
    - --expt-relaxed-constexpr
    - -forward-unknown-to-host-compiler
    - --generate-code=*
    - -rdc=*
    - -Xcompiler*
    - -xobjective-c++-header
    - --options-file
    - -diag-suppress
    - -g
    - -G
    - -ccbin=g++-14
    - --Werror
    - -x
    - -Werror
    - -Wall
