CompileFlags:
  Compiler: clang++
  Add:
    - -I/usr/local/cuda/include # Or path to CUDA include directory
    - -I/opt/rocm/include # Or path to HIP include directory
    - -I/usr/local/cuda/targets/x86_64-linux/include
  Remove:
    - --expt-relaxed-constexpr
    - -forward-unknown-to-host-compiler
    - --generate-code=*
    - -rdc=*
    - -Xcompiler*
    - -xobjective-c++-header
    - --options-file
    - -diag-suppress
    - -g
    - -G
    - -ccbin=g++-14
    - --Werror
    - -x
    - -Werror
    - -Wall
    - -fopenmp
    - --offload-arch=gfx90a
