[submodule "third-party/cxxopts"]
	path = third-party/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "third-party/cutlass"]
	path = third-party/cutlass
	url = https://github.com/NVIDIA/cutlass.git
[submodule "third-party/rocWMMA"]
	path = third-party/rocWMMA
	url = https://github.com/ROCm/rocWMMA.git
